@use "@/assets/scss/variables" as *;
@use "@/assets/scss/variables_app" as *;

.dashboard {
  background-color: $box-background-color;
  padding: $app-card-padding-sm;
  border-radius: $app-card-border-radius;
}
