.ant-table {
  .ant-select-dropdown.ant-select-dropdown-placement-topLeft {
    min-width: 99px !important;
    width: 99px !important;
  }

  .ant-table-title {
    height: 16px;
    width: 244px;
    color: #000000;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.39px;
    line-height: 22px;
    margin-bottom: 15px;
  }
}
