@use "@/assets/scss/variables" as *;

.filter {
  padding-bottom: 20px;

  .filter_controls {
    margin-bottom: 15px;
  }

  .filter_items {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
  }

  .filter_footer {
    display: flex;
    justify-content: end;
  }

  .filter_active_btn {
    box-shadow: 1px 5px 5px $base-color-active;
  }
}
