.lang_switcher {
  display: flex;
  background: #2d3748;
  border-radius: 20px;
  align-items: center;

  .lang_uz {
    border-radius: 20px 0 0 20px;
  }
  .lang_ru {
    border-radius: 0 20px 20px 0;
  }

  .lang-btn {
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 12px;
    transition: all 0.3s ease;
    background: #2d3748;
    color: #fff;

    &:hover {
      background: #4a5568;
      color: #fff;
    }

    &.active {
      background: #fff !important;
      color: #000 !important;
    }
  }
}
